.banner {
    width: 80vw;
    height: 250px;
    background-color: rgb(0, 2, 111);
    margin: auto;
    display: flex;
    justify-content: center;
}
/* 
.banner_right {
    width: 40vw;
}

.background {
    height: 250px;
    width: 100%;
    object-fit: contain;
} */

.banner_text_one {
    font-size: 60px;
    color: orange;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding-top: 20px;
}

.banner_text_two {
    font-size: 20px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 15px;
}

.banner_button {
    height: 50px;
    width: 150px;
    background: white;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_button > p {
    font-weight: 700;
    color: rgb(0, 2, 111);
}

.banner_left {
    width: 100vw;
    height: 250px;
    padding-left: 100px;
}

/* .banner_left {
    width: 25vw;
    height: 190px;
    background-color: rgb(106, 195, 255);
} */

.banner_right {
    width: 50vw;
    height: 190px;
    background-color: rgb(0, 2, 111);
}

.banner_logo {
    width:  100px;
}

.banner_center {
    justify-content: center;
    display: flex;
    padding-top: 20px;
}