.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_left {
    width: 25vw;
    height: 190px;
    background-color: rgb(106, 195, 255);
}

.banner_right {
    width: 50vw;
    height: 190px;
    background-color: rgb(0, 2, 111);
}

.banner_logo {
    width:  100px;
}

.banner_center {
    justify-content: center;
    display: flex;
    padding-top: 20px;
}